<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.CreateEmployee_03"/>
      <class name="testcases.DeleteEmployee_04"/>
      <class name="testcases.GetAllEmployees_01"/>
      <class name="testcases.GetSingleEmployee_02"/>
      <class name="testcases.TestDeletedEmployee_05"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
